# Rust specifieke bestanden
/target/
**/*.rs.bk
*.pdb
*.o
*.so
*.dylib
*.dll
*.exe

# Cargo.lock wordt wel in een library, niet bij een executable
# Cargo.lock

# Gegenereerde bestanden
.cargo-ok

# IDE bestanden
.vscode/
.idea/
*.iml
*.swp
*.swo
.DS_Store

# Testbestanden en caches
config/commands/data/
*.snap
.cargo/config.toml

# Locatie specifieke configuratie
/config.toml
.env
*.env
*.log

# Backup bestanden
*.bak
*~